RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

ErrorDocument 404 /404.php

#php_value upload_max_filesize 50M
#php_value post_max_size 50M
#php_value max_execution_time 300
#php_value max_input_time 300

<Files 403.shtml>
order allow,deny
allow from all
</Files>


